.contact-container {
  display: flex;
  justify-content: center;
}

.c-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 85%;
}

.contact-form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.contact-form input,
textarea {
  font-family: inherit;
  width: 90%;
  resize: none;
  border-radius: 7.5px;
  outline: none;
  margin: 2.5px auto 15px auto;
  border: 1px solid rgba(73, 55, 90, 0.4);
  padding-left: 5px;
}

.contact-form input {
  height: 25px;
}

.contact-form textarea {
  height: 75px;
  transition: all 250ms;
}

.contact-form textarea:focus {
  height: 100px;
  transition: all 250ms;
}

.contact-submit {
  font-family: inherit;
  font-weight: bold;
  background-color: transparent;
  width: 25%;
  margin: auto;
  padding: 10px 0;
  border: 1px solid rgb(73, 55, 90);
  color: rgb(73, 55, 90);
  border-radius: 7.5px;
  transition: all 250ms;
}

.contact-submit:hover {
  cursor: pointer;
  background-color: rgb(73, 55, 90);
  color: white;
  transition: all 250ms;
}

.contact-submit:disabled {
  opacity: 0.5;
}

.social-container {
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
  margin: 25px 0;
  align-items: center;
}

.social-icon {
  border-radius: 5px;
  max-width: 113px;
  padding: 5px;

  color: white;
  font-weight: bold;
  transition: all 100ms ease-in-out;
  cursor: pointer;

  align-items: center;
  justify-content: center;
}

.social-icon svg {
  width: 27.5px;
  height: 27.5px;
  margin-right: 5px;
}

.linkedin {
  background-color: rgb(0, 119, 181);
  border-bottom: 6.5px solid rgb(0, 74, 114);
}

.instagram {
  background-color: rgb(221, 42, 123);
  border-bottom: 6.5px solid rgb(187, 35, 104);
}

.telegram {
  background-color: rgb(0, 172, 237);
  border-bottom: 6.5px solid rgb(0, 123, 168);
}

.facebook {
  background-color: rgb(72, 104, 173);
  border-bottom: 6.5px solid rgb(57, 82, 138);
}

.github {
  background-color: rgb(79, 79, 79);
  border-bottom: 6.5px solid rgb(54, 54, 54);
}

.facebook:hover,
.linkedin:hover,
.github:hover,
.telegram:hover,
.instagram:hover {
  border-bottom-width: 13px;
  animation: shine 0.5;
}

@media screen and (max-width: 695px) {
  .social-icon p {
    display: none;
  }

  .social-icon svg {
    margin: 0;
  }

  .contact-form {
    width: 90%;
  }

  .contact-info {
    margin-bottom: 15px;
  }
}

.alert {
  padding: 20px;
  width: 75%;
  min-height: 30px;
  left: 10%;
  border-radius: 15px;
  position: absolute;
  color: white;
  margin-bottom: 15px;
  font-weight: bold;
  backdrop-filter: blur(1.5px);
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
