@keyframes block-animation {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 25px);
  }
}

.game-container {
  max-width: 100%;
}

.blocks-container {
  margin: 0 auto 35px auto;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.game-container img {
  width: 100px;
  -webkit-backface-visibility: hidden;
  filter: blur(0);
}

.block {
  animation: block-animation 1s alternate infinite;
  top: 25px;
  margin-left: 8%;
}

.block img {
  cursor: pointer;
  width: 50px;
  -webkit-filter: drop-shadow(2px 3px 0 white) drop-shadow(-3px -2px 0 white);
  filter: drop-shadow(3px 0px 0 white) drop-shadow(-3px 0px 0 white)
    drop-shadow(-0px -2px 0 white) drop-shadow(-0px 2px 0 white);
}

.player {
  display: flex;
  align-items: flex-start;
  height: 215px;
  filter: brightness(1.1) saturate(1.1) blur(0);

  background-image: url("/assets/floor.png");
  background-size: 1024.5px 35%;
  background-repeat: repeat-x;
  background-position: bottom;
}


.player div {
  width: 80px;
  height: 152px;
  -webkit-filter: drop-shadow(2px 3px 0 white) drop-shadow(-3px -2px 0 white);
  filter: drop-shadow(3px 0px 0 var(--sprite-outline))
    drop-shadow(-3px 0px 0 var(--sprite-outline))
    drop-shadow(-0px -2px 0 var(--sprite-outline))
    /* drop-shadow(-0px 2px 0 var(--sprite-outline)); */;
    background-size: auto calc(152px * 2);
    background-image: url("/assets/well_sprites.webp");
}

.player div[data-state="idle"] {
  animation: idle 2s steps(11) infinite;
}

.player div[data-state="walking"] {
  animation: walking .5s steps(9) infinite;
}

.player div[data-state="jumping"] {
  width: 80px;
  background-position: 106px 0;
}

@keyframes idle {
  from {
    background-position: 0 0;
  }

  to {
    background-position: calc(81.73px * -11) 0;
  }
}

@keyframes walking {
  from {
    background-position: 0 150px;
  }

  to {
    background-position: calc(101.5px * -9) 150px;
  }
}

@media screen and (max-width: 750px) {
  .blocks-container {
    justify-content: space-evenly;
  }

  .block {
    margin-left: 3%;
  }

  .block img {
    width: 40px;
  }
}

.touch-button {
  display: none;
  height: 70px;
  width: 70px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  color: rgba(43, 19, 19, 0.7);

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(0.5px);
  border-radius: 5px;
  border: 2px solid rgba(43, 19, 19, 0.7);
}

@media only screen and (hover: none) and (pointer: coarse) {
  .touch-button {
    display: flex;
  }
  .first-star {
    display: none;
  }
}

@media only screen and (max-device-width: 768px) {
  .touch-button {
    display: flex;
  }
  .first-star {
    display: none;
  }
}
