@keyframes text-appear {
  0% {
    transform: translate(0px, 15px);
    opacity: 0.5;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.carousel-container {
  margin: 25px auto;
  flex-direction: column;
}

.carousel-item {
  display: flex;
  justify-content: center;
}

.indexes,
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.indexes {
  height: 20px;
}

.index {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  border: 3px solid rgba(66, 52, 117, 0.7);
  margin: auto 5px;
  transition: all 500ms;
}

.i-active {
  transition: all 500ms;
  border: 4px solid rgb(66, 52, 117);
  background-color: rgba(66, 52, 117, 0.3);
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item img {
  filter: drop-shadow(3px 3px 5px rgba(66, 52, 117, 0.3));
  border-radius: 15px;
  object-fit: cover;
  width: 71vw;
  max-width: 800px;
  max-height: 450px;
  height: 40vw;
}

.project-item h2 {
  margin: 10px auto;
}

.project-item p {
  /* margin: 10px auto; */
  text-align: center;
}

.projects-list {
  margin: 50px auto 25px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project {
  text-decoration: none;
  color: unset;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  border-radius: 0.5rem;
  width: 80%;
  margin: 25px auto;
  min-height: 200px;
  background-image: linear-gradient(25deg, rgba(74, 64, 104, 0.25), rgba(74, 64, 104, 0.1));
}

.project a {
  z-index: 1;
  color: inherit;
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}

.project img {
  height: 170px;
  width: 227px;
  object-fit: cover;
  border-radius: 7.5px;
}

.project i {
  font-size: 18pt;
}

.project-text {
  animation: text-appear 1s;
}

.tag {
  padding: 5px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 10pt;
  background-color: var(--tag-color);
  color: inherit;
  opacity: 0.6;
}

@media screen and (max-width: 950px) {
  .project-item img {
    width: 90vw;
    height: 50vw;
  }

  .project {
    padding: 15px;
  }

  .project div {
    max-width: 90% !important;
    text-align: center !important;
  }

  .project img {
    margin-bottom: 15px;
  }

  .project p {
    margin-top: 15px;
  }
  .tag {
    margin-bottom: 15px !important;
  }

  .techs {
    justify-content: center !important;
  }
}
