---
    import Carousel from './react-components/common/Carousel.jsx';
    import Projects from './react-components/sections/Projects.jsx';
    
    
    const projects = JSON.parse(import.meta.env.SNOWPACK_PUBLIC_PROJECTS);
---

<section>
    <p class="title" style="margin-bottom: 25px" id="projects">
        &#126; Alguns de meus projetos &#126;
    </p>

    <Carousel client:visible />
    <Projects projects={projects} client:idle />
</section>