html {
  scroll-behavior: smooth;
}

@keyframes top-button {
  0% {
    transform: scaleY(0%);
    opacity: 0;
  }
  100% {
    transform: scaleY(100%);
    opacity: 0.7;
  }
}

:root {
  --body-background: rgb(255, 255, 255);
  /* rgb(19, 19, 36) */
  --body-font: rgb(0, 0, 0);
  --main-color: rgb(0, 88, 248);
  --sprite-outline: rgba(255, 255, 255, 0.5);
  --tag-color: rgba(99, 90, 129, 0.1);
  /* --tag-color: rgba(99, 90, 129, 1); */
}

body {
  margin: 0;
  max-width: 100vw;
  background-color: var(--body-background);
  color: var(--body-font);
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition-property: background-color, color;
  transition-duration: 200ms;
}

header {
  max-width: 100vw;
  background-image: linear-gradient(
    to bottom,
    var(--main-color) 35%,
    transparent 35%
  );
}

.header-content {
  margin: auto auto;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.header-content h2 {
  cursor: pointer;
  margin-top: 5px;
  font-family: "Verdana";
}

.header-content img {
  image-rendering: auto;
  width: 150px;
  margin-top: 10px;
  border-radius: 100%;
}

.title {
  font-weight: 400;
  font-size: 20pt;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
}

.top-container {
  background-image: url("/assets/game-background.webp");
  background-size: auto 100%;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

h2 {
  font-weight: 300;
  text-align: center;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

@media screen and (max-width: 700px) {
  .header-content h2 {
    font-size: 15pt;
  }
}

.top-button {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--main-color); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 0.7;
  animation: top-button 500ms;
}
